{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {# todo: afficher le formualire de création #}
    </div>
{% endblock %}

{% block title %}
    Create a new serie | {{ parent() }}
{% endblock %}
